<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="ru" xml:lang="ru">
{% load analytics compressed i18n static %}{% get_static_prefix as STATIC_PREFIX %}
  <head>
    <title>{{ site_title }}</title>
    <link href="{{ STATIC_PREFIX }}pics/cart.png" rel="icon" />

    {% if settings.DEBUG %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/style.css" />
    {% else %}
    {% compressed_css 'common' %}
    {% endif %}

    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_PREFIX }}css/ie6.css" />
    <script type="text/javascript" src="{{ STATIC_PREFIX }js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
      DD_belatedPNG.fix('img, #header .div3 a, #content .left, #content .right, .box .top');
    </script>
    <![endif]-->

    <script type="text/javascript">
      <!--
         //LOCALE STRINGS HERE
      //-->
    </script>
    {% if settings.DEBUG %}
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery-1.5.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/tab.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/ajax_api.js"></script>
    {% else %}
    {% compressed_js 'common' %}
    {% endif %}

    {# <script type="text/javascript" src="catalog/view/javascript/jquery/thickbox/thickbox-compressed.js"></script> #}
    {# <link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/thickbox/thickbox.css" /> #}
    <script type="text/javascript"><!--
    function bookmark(url, title) {
    	if (window.sidebar) { // firefox
        window.sidebar.addPanel(title, url, "");
    	} else if(window.opera && window.print) { // opera
    		var elem = document.createElement('a');
    		elem.setAttribute('href',url);
    		elem.setAttribute('title',title);
    		elem.setAttribute('rel','sidebar');
    		elem.click();
    	} else if(document.all) {// ie
       		window.external.AddFavorite(url, title);
    	}
    }
    //-->
    </script>
    {% if not settings.DEBUG %}{% analytics_async %}{% endif %}
  </head>
  <body>
    {% csrf_token %}
    <div id="container">
      {% include "shop/header.html" %}
      {% block content %}{% endblock %}
      {% include "shop/footer.html" %}
    </div>
  </body>
</html>
