{% load i18n static %}{% get_static_prefix as STATIC_PREFIX %}
{% load shop_widgets %}
<div id="column_right">
  <div id="module_cart" class="box">
    <div class="top"><img src="{{ STATIC_PREFIX }}pics/basket.png" alt="" />{% trans "Cart" %}</div>

    <div class="middle">
      <table cellpadding="2" cellspacing="0" style="width: 100%;">
        <tbody>
          {% comment %}
          cart = {
              'item_list': [ {'item', 'count'}, ... ],
              'total_count': 0,
              'total_price': 0.00,
          }
          {% endcomment %}
          {% for el in cart.item_list %}
          <tr>
            <td align="left" valign="top" style="width:1px">
              <span class="cart_remove" id="remove_{{ el.item.pk }}">&nbsp;</span>
            </td>
            <td valign="top" align="right" style="width:1px">{{ el.count }}&nbsp;x&nbsp;</td>
            <td align="left" valign="top">
              <a href="{{ el.item.get_absolute_url }}">{{ el.item.title }}</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td>
              <div style="text-align: center;">{% trans "No items yet" %}</div>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      {% if cart %}
      <br>
      <table cellpadding="0" cellspacing="0" align="right" style="display:inline-block;">
        <tbody>
          <tr>
            <td align="right"><span class="cart_module_total"><b>{% trans "Price" %}:</b></span></td>
            <td align="right"><span class="cart_module_total">{{ cart.total_price|floatformat:2 }} р.</span></td>
          </tr>
        </tbody>
      </table>
      {% endif %}
	  <div style="padding-top:5px;text-align:center;clear:both;">
        <a href="/cart/">{% trans "To list" %}</a> | <a href="/shipping/">{% trans "To order" %}</a>
      </div>
    </div>
    <div class="bottom">&nbsp;</div>
  </div>

  <div class="box">
    <div class="top"><img src="{{ STATIC_PREFIX }}pics/brands.png" alt="" />AdSense</div>
	<div class="middle" style="text-align: left;">
      {% trans "Place for banners and advertisement." %}
    </div>
    <div class="bottom">&nbsp;</div>
  </div>

  {% favorites_tag %}
  {% recommendation_tag %}
</div>
