{% load i18n static %}{% get_static_prefix as STATIC_PREFIX %}
{% load shop_widgets %}
<div id="column_right">
  <div id="module_cart" class="box">
    <div class="top"><img src="{{ STATIC_PREFIX }}pics/basket.png" alt="" />{% trans "Cart" %}</div>
    <div class="middle">
      <div style="text-align: center;">{% trans "No items yet" %}</div>
    </div>
    <div class="bottom">&nbsp;</div>
  </div>

  <div class="box">
    <div class="top"><img src="{{ STATIC_PREFIX }}pics/brands.png" alt="" />AdSense</div>
	<div class="middle" style="text-align: left;">
      {% trans "Place for banners and advertisement." %}
    </div>
    <div class="bottom">&nbsp;</div>
  </div>

  <div class="box">
    <div class="top"><img src="{{ STATIC_PREFIX }}pics/bestsellers.png" alt="" />{% trans "Favourites" %}</div>
    <div class="middle">
      <table cellpadding="2" cellspacing="0" style="width: 100%;">
        <tr>
          <td valign="top" style="width:1px"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=48"><img src="http://demo.myopencart.ru/image/cache/data/ipod_classic_1-38x38.jpg" alt="iPod Classic" /></a></td>
          <td valign="top"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=48">iPod Classic</a>
            <br />
            <span style="font-size: 11px; color: #900;">100.00 р.</span>
            <a class="button_add_small" href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=48" title="Добавить в корзину" >&nbsp;</a>
          </td>
        </tr>
        <tr>
          <td valign="top" style="width:1px"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=43"><img src="http://demo.myopencart.ru/image/cache/data/macbook_1-38x38.jpg" alt="MacBook" /></a></td>
          <td valign="top"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=43">MacBook</a>
            <br />
            <span style="font-size: 11px; color: #900;">500.00 р.</span>
            <a class="button_add_small" href="http://demo.myopencart.ru/index.php?route=checkout/cart&amp;product_id=43" title="Добавить в корзину" >&nbsp;</a>
          </td>
        </tr>
        <tr>
          <td valign="top" style="width:1px"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=28"><img src="http://demo.myopencart.ru/image/cache/data/htc_touch_hd_1-38x38.jpg" alt="HTC Touch HD" /></a></td>
          <td valign="top"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=28">HTC Touch HD</a>
            <br />
            <span style="font-size: 11px; color: #900;">484.44 р.</span>
            <a class="button_add_small" href="http://demo.myopencart.ru/index.php?route=checkout/cart&amp;product_id=28" title="Добавить в корзину" >&nbsp;</a>
          </td>
        </tr>
        <tr>
          <td valign="top" style="width:1px"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=46"><img src="http://demo.myopencart.ru/image/cache/data/sony_vaio_1-38x38.jpg" alt="Sony VAIO" /></a></td>
          <td valign="top"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=46">Sony VAIO</a>
            <br />
            <span style="font-size: 11px; color: #900;">1,000.00 р.</span>
            <a class="button_add_small" href="http://demo.myopencart.ru/index.php?route=checkout/cart&amp;product_id=46" title="Добавить в корзину" >&nbsp;</a>
          </td>
        </tr>
        <tr>
          <td valign="top" style="width:1px"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=47"><img src="http://demo.myopencart.ru/image/cache/data/hp_1-38x38.jpg" alt="HP LP3065" /></a></td>
          <td valign="top"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=47">HP LP3065</a>
            <br />
            <span style="font-size: 11px; color: #900;">1,000.00 р.</span>
            <a class="button_add_small" href="http://demo.myopencart.ru/index.php?route=checkout/cart&amp;product_id=47" title="Добавить в корзину" >&nbsp;</a>
          	<br />
            <img src="{{ STATIC_PREFIX }}pics/stars_3.png" alt="3 из 5 баллов!" />
          </td>
        </tr>
            <tr>
              <td valign="top" style="width:1px"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=40"><img src="http://demo.myopencart.ru/image/cache/data/iphone_1-38x38.jpg" alt="iPhone" /></a></td>
              <td valign="top"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=40">iPhone</a>
                <br />
                <span style="font-size: 11px; color: #900;">101.00 р.</span>
                <a class="button_add_small" href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=40" title="Добавить в корзину" >&nbsp;</a>
          	  </td>
            </tr>
        <tr>
          <td valign="top" style="width:1px"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=30"><img src="http://demo.myopencart.ru/image/cache/data/canon_eos_5d_1-38x38.jpg" alt="Canon EOS 5D" /></a></td>
          <td valign="top"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=30">Canon EOS 5D</a>
            <br />
            <span style="font-size: 11px; color: #900;">100.00 р.</span>
            <a class="button_add_small" href="http://demo.myopencart.ru/index.php?route=checkout/cart&amp;product_id=30" title="Добавить в корзину" >&nbsp;</a>
          </td>
        </tr>
        <tr>
          <td valign="top" style="width:1px"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=41"><img src="http://demo.myopencart.ru/image/cache/data/imac_1-38x38.jpg" alt="iMac" /></a></td>
          <td valign="top"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=41">iMac</a>
            <br />
            <span style="font-size: 11px; color: #900;">500.00 р.</span>
            <a class="button_add_small" href="http://demo.myopencart.ru/index.php?route=checkout/cart&amp;product_id=41" title="Добавить в корзину" >&nbsp;</a>
          </td>
        </tr>
        <tr>
          <td valign="top" style="width:1px"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=42"><img src="http://demo.myopencart.ru/image/cache/data/apple_cinema_30-38x38.jpg" alt="Apple Cinema 30&quot;" /></a></td>
          <td valign="top"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=42">Apple Cinema 30&quot;</a>
            <br />
            <span style="font-size: 11px; color: #900;">100.00 р.</span>
            <a class="button_add_small" href="http://demo.myopencart.ru/index.php?route=checkout/cart&amp;product_id=42" title="Добавить в корзину" >&nbsp;</a>
          	<br />
            <img src="{{ STATIC_PREFIX }}pics/stars_3.png" alt="3 из 5 баллов!" />
          </td>
        </tr>
        <tr>
          <td valign="top" style="width:1px"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=31"><img src="http://demo.myopencart.ru/image/cache/data/nikon_d300_1-38x38.jpg" alt="Nikon D300" /></a></td>
          <td valign="top"><a href="http://demo.myopencart.ru/index.php?route=product/product&amp;product_id=31">Nikon D300</a>
            <br />
            <span style="font-size: 11px; color: #900;">80.00 р.</span>
            <a class="button_add_small" href="http://demo.myopencart.ru/index.php?route=checkout/cart&amp;product_id=31" title="Добавить в корзину" >&nbsp;</a>
          </td>
        </tr>
      </table>
    </div>
    <div class="bottom">&nbsp;</div>
   </div>

  {% recommendation_tag %}
</div>
