{% load i18n static %}{% get_static_prefix as STATIC_PREFIX %}
<div id="column_left">
  <div class="box">
    <div class="top"><img src="{{ STATIC_PREFIX }}pics/category.png"
                          alt="{% trans "Categories" %}"
                          title="{% trans "Categories" %}"/>{% trans "Categories" %}</div>
    <div id="category" class="middle">
      <ul>
        <li><a href="/category/">Desktops</a></li>
        <li><a href="/category/">Laptops &amp; Notebooks</a></li>
        <li><a href="/category/">Components</a></li>
        <li><a href="/category/">Software</a></li>
        <li><a href="/category/">Phones &amp; PDAs</a></li>
        <li><a href="/category/">Cameras</a></li>
        <li><a href="/category/">MP3 Players</a></li>
      </ul>
    </div>
    <div class="bottom">&nbsp;</div>
  </div>
  <div class="box">
    <div class="top"><img src="{{ STATIC_PREFIX }}pics/brands.png"
                          alt="{% trans "Manufacturers" %}"
                          title="{% trans "Manufacturers" %}" />{% trans "Manufacturers" %}</div>
    <div class="middle" style="text-align: center;">
      <select onchange="location = this.value">
        <option value=""> --- Выберите --- </option>
        <option value="http://demo.myopencart.ru/index.php?route=product/manufacturer&amp;manufacturer_id=8">Apple</option>
        <option value="http://demo.myopencart.ru/index.php?route=product/manufacturer&amp;manufacturer_id=9">Canon</option>
        <option value="http://demo.myopencart.ru/index.php?route=product/manufacturer&amp;manufacturer_id=7">Hewlett-Packard</option>
        <option value="http://demo.myopencart.ru/index.php?route=product/manufacturer&amp;manufacturer_id=5">HTC</option>
        <option value="http://demo.myopencart.ru/index.php?route=product/manufacturer&amp;manufacturer_id=6">Palm</option>
        <option value="http://demo.myopencart.ru/index.php?route=product/manufacturer&amp;manufacturer_id=10">Sony</option>
      </select>
    </div>
  <div class="bottom">&nbsp;</div>
  </div>
  <div class="box">
    <div class="top"><img src="{{ STATIC_PREFIX }}pics/information.png"
                          alt="{% trans "Information" %}"
                          title="{% trans "Information" %}" />{% trans "Information" %}</div>
    <div id="information" class="middle">
      <ul>
        <li><a href="http://demo.myopencart.ru/index.php?route=information/information&amp;information_id=4">About Us</a></li>
        <li><a href="http://demo.myopencart.ru/index.php?route=information/information&amp;information_id=3">Privacy Policy</a></li>
        <li><a href="http://demo.myopencart.ru/index.php?route=information/information&amp;information_id=5">Terms &amp; Conditions</a></li>
        <li><a href="http://demo.myopencart.ru/index.php?route=information/contact">Наши контакты</a></li>
        <li><a href="http://demo.myopencart.ru/index.php?route=information/sitemap">Карта сайта</a></li>
      </ul>
    </div>
    <div class="bottom">&nbsp;</div>
  </div>
</div>
