{% load i18n static %}{% get_static_prefix as STATIC_PREFIX %}

      <div id="header">
        <div class="div1">
          <div class="div2">
            <a href="{% url shop:home %}"><img src="{{ STATIC_PREFIX }}pics/logo.png"
                             title="{{ site_title }}"
                             alt="{{ site_title }}" /></a>
          </div>
          <div class="div3">
            {# <a href="{% url shop:special %}" style="background-image: url('pics/special.png');">{% trans "Special" %} </a> #}
            <a onclick="bookmark(document.location, '{{ site_title }}');" id="link-bookmark">{% trans "Bookmark" %}</a>
            <a href="{% url shop:contact %}" id="link-contact">{% trans "Contact" %}</a>
            {# <a href="{% url shop:sitemap %}" style="background-image: url('pics/sitemap.png');">{% trans "Sitemap" %}</a> #}
          </div>
          <div class="div4">
            <a href="{% url shop:home %}" id="tab_home">{% trans "Home" %}</a>
            <a href="{% url shop:cart %}" id="tab_cart">{% trans "Cart" %}</a>
            <a href="{% url shop:shipping %}" id="tab_checkout">{% trans "Shipping" %}</a>
          </div>
          <div class="div5">
            <div class="left"></div>
            <div class="right"></div>
            <div class="center">
              <div id="search">
                <div class="div8">{% trans "Search" %}:&nbsp;</div>
                <div class="div9">
                  <input type="text" value="{% trans "I'm looking for..." %}" id="filter_keyword" onclick="this.value = '';" onkeydown="this.style.color = '#000000'" style="color: #999;" />
                  <select id="filter_category_id">
                    <option value="0">{% trans "All categories" %}</option>
                  </select>
                </div>
                <div class="div10">&nbsp;&nbsp;<a onclick="moduleSearch();" class="button"><span>{% trans "Find" %}</span></a>
                  {#<a href="http://demo.myopencart.ru/index.php?route=product/search">Расширенный поиск</a></div>#}
              </div>
            </div>
          </div>
        </div>
        <div class="div6">
          <div class="left"></div>
          <div class="right"></div>
          <div class="center">
            <div id="breadcrumb">
              {% for level in breadcrumb %}
              <a href="{{ level.url}}">{{ level.title }}</a> {% if not forloop.last %}&gt;{% endif %}
              {% endfor %}
            </div>
            <div class="div7">
              <form action="/" method="post" enctype="multipart/form-data" id="language_form">
                <div class="switcher">
                  <div class="selected"><a><img src="{{ STATIC_PREFIX }}pics/flags/ru.png" alt="Russian" />&nbsp;&nbsp;Russian</a></div>
                  <div class="option">
                    <a onclick="$('input[name=\'language_code\']').attr('value', 'ru'); $('#language_form').submit();"><img src="{{ STATIC_PREFIX }}pics/flags/ru.png" alt="Russian" />&nbsp;&nbsp;Russian</a>
                  </div>
                </div>
                <div>
                  <input type="hidden" name="language_code" value="" />
                  <input type="hidden" name="redirect" value="/" />
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
